* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:  darkred;
}

.timer{
    text-align: center;
    padding: 1%;
    margin: 2%;
    font-weight: bold;
    font-family: monospace;
    font-size:  x-large;
}