body{
    margin: 0;
    padding: 10px;
    font-family: Arial;
    min-width: 400px;
}

input{
    padding-left: 10px;
    padding-right:  10px;
    width: 100%;
    box-sizing:  border-box;
}

button{
    background-color: #5f9341;
    margin-top: 2px;
    color:  white;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    padding: 10px;
}

button:hover{
    background-color: #61d323;
    color: black;
    font-weight: bold;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

li a{
    color: #61d323;
}