body {
    background-color: #90a6ea;
    text-align: center;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#increment-btn{
    background-color: tomato;
    color: white;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

#increment-btn:hover{
    background-color: #f4826b;
}

#counter-el{
    font-size:  40px;
}

#decrement-btn{
    background-color: darkred;
    color: white;
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

#decrement-btn:hover{
    background-color: #9c3e3e;
}

#save-btn{
    background-color: green;
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

#save-btn:hover{
    background-color: forestgreen;
}